training_raw/
training_spec/
mnist/
log/
cinc-challenge2017-oxford/
__pycache__/
build/
*.mat
*.so
*.pkl
*.html
*.png
/.idea
*.zip
weights-best_k0_r0.hdf5
cwsdtw_eval/
cw_smooth_eval/
result_6755/
result_zero/
fig/
